body{
  min-width: 900px;
  font-family: 'Slackey', cursive;
}

#game-title{
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: transparent;
  border: transparent;
}

h1{
  padding: 5px;
  margin: 0px 5px;
}

#column-section{
  height: 490px;
  overflow: hidden;
  padding: 0px;
  background-image: url(../images/bg-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 20px;
}

#column-section>div{
  position: relative;
}

.red{
  background-image: linear-gradient(to bottom, rgba(229, 111, 102, 0.79), #C60F0F)
}

.green{
  background-image: linear-gradient(to bottom, #4CAF50, #23321C)
}

.blue {
  background-image: linear-gradient(to bottom, #3498DB, rgba(0,0,255,0.8))
}

#left-column, #right-column{
  position: relative;
  bottom: 1263px;
}

#left-column div, #right-column div{
  height: 70px;
  border: 2px solid white;
  border-radius: 20px !important;
}

#left-column div:first-child, #right-column div:first-child{
  height: 350px;
  border: transparent;
  width: 300px !important;
}

#Pikachu1 img,#Pikachu2 img{
  height: 100%;
  width: auto;
}

section.container.well.text-center{
  padding: 0px;
}

h3{
  margin: 10px 10px 0px 10px;
}

#scoreA, #scoreB{
  margin: 0px 10px 10px 10px;
}

#mute, #reset {
  margin-right: 100px;
}

.modal, .modal-dialog, .modal-content {
    /* 80% of window height */
    height: 90%;
}

div.modal-body {
  height: 70%;
}

.img-responsive-height {
  display: block;
  width: auto;
  max-height: 100%
}

div.modal-footer div{
  height: 10%;
}
