/*
 * ColorsPicked with love from:
 * http://www.colourlovers.com/web/trends/websites/7858/Pandora
 */

#left-column{
  display: inline-block;
  float: left;
  max-width: 300px;
}

#right-column{
  display: inline-block;
  float: right;
  max-width: 300px;
}